//颜色定义
$colorBackground:#EBECF0;
$colorDotBackground:#B7B8BA;
$colorDotActiveBackground:#01CCE9;
$colorActived:#01CCE9;
$colorTabBackground:#FFF;
$red: #db3d3c;
$gray-deep: #999;
$gray: #bfbfbf;
$gray-shallow: #e5e5e5;
$gray-shallow-more: #f2f2f2;

$icon-bg: #f9f3e8;
//字体大小定义
$font-size-small-s:10px;
$font-size-small:12px;
$font-size-medium:14px;
$font-size-medium-x:16px;
$font-size-large:18px;
$font-size-large-x:22px;
$browsers-default-font-size:14px;

$border-color: $gray-shallow;
$bg-color: $gray-shallow-more;
/*屏幕的宽*/
$screen-width:37.5px !default;

$screen-width-ip6: 375px !default;
